APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=replace_with_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=replace_with_your_stripe_webhook_signing_secret
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=replace_with_your_clerk_publishable_key
CLERK_SECRET_KEY=replace_with_your_clerk_secret_key
CLERK_WEBHOOK_SIGNING_SECRET=replace_with_your_clerk_webhook_signing_secret
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/account
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/account
